<style>
.header, .main-nav{
    background-color: black;
    color: white;
    text-decoration: none;
   display: inline-flex;
   padding: 10px;
   width: 100%;
  font-size: 1.2em;
}
li:hover{
    color: gold;
    background: pink;
}

li{
    padding: 10px;
    list-style: none;
    text-align: justify;
}

.logo, h1, a{
    background-color: black;
    text-decoration: none;
    text-align: center;
    color: white;
    margin: 0;
}
</style>
<div>
    <h1 class="logo"><a href="#">Just In Thyme</a></h1>
</div>
<nav class="header">
        <ul class="main-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/recipes">Recipes</a></li>
            <li><a href="/ingredients/index">Ingredients</a></li>
            <li>
                <% if (user) { %>
                <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
                <% } else { %>
                <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
                <% } %>
            </li>
        </ul>
    
    </nav>