<% include ../partials/head %>
<body>
        <% include ../partials/navBar %>
      <h1>Ingredients</h1> 
        <ul>
                <% ingredients.forEach(i=> { %>
                        <li><%= i.name%></li>
                        <%})%>
                        <%- include('../partials/footer')%>
                </ul>
                <form method="get" action="/ingredients/new">
                        <button type="submit">Add New</button>
                </form>
        </body>
</html>