<% include ../partials/head %>
<body>
        <% include ../partials/navBar %>
        
        <p>Always check to see if the Ingredients is already within the dropdown.
        <select>
            <% ingredients.forEach(function(i) { %>
                <option><%= i.name%></option>
           <% }) %>
        </select>
        </p>
    <form id="add-ingredient-form" action="/ingredients" method="POST">
    <label>Name:</label>
    <input type="text" name="name" id="">
    <input type="submit" value="Add Ingredients">
    </form>
</body>
</html>