 <% include ../partials/head%>
<body>
    <h1>Welcome to the Login Page</h1>
    <div class="navbar">
        <nav>
            <ul>
                <li>
                <% if (user) { %>
                <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
                <% } else { %>
                <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
                <% } %>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>