<% include partials/head%>

<body>
    <%- include('partials/navBar')%>
 <form id="new-form" action="/recipes" method="POST">
<label>Recipe Name</label>
<input type="text" name="name">
<label>Prep Time</label>
<input type="text" name="prepTime">
<label>Serving Size</label>
<input type="text" name="servingSize">
<label>Ingredients</label>
<input type="text" name="Ingredients"
 </form>

    <%- include('partials/footer')%>
</body>

</html>