<% include ../partials/head%>

<body>
    <%- include('../partials/navBar')%>
        <form id="new-form-1" action="/recipes" method="POST">
       <h1>Create your Recipe</h1>
       <label for="required-input">Recipe Name</label><br>
       <input type="text" name="name" id="require-input"> <br>
       <label for="required-input">Prep Time</label><br>
       <input type="text" name="prepTime" id="require-input"><br>
       <label for="required-input">Serving Size</label><br>
       <input type="text" name="servingSize" id="require-input"><br>
       <label for="required-input">Instructions</label><br>
       <textarea name="instructions" id="" cols="30" rows="10"></textarea><br>
       <input type="submit" value="Create Recipe Name">
        </form>
    </div>
    <%- include('../partials/footer')%>
</body>

</html>